<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CovidTracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">

    </header>

    <div class="container container-fluid">
        <div class="row top-row">
            <div class="col" style="text-align: center;">
                <h1 class="topHeader">COVID-19 PANDEMIC INDIA</h1>
            </div>
        </div>
    </div>

    <div class="div">
        <%- body%>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h7 style="font-weight: 600;">Note : Above data is updated thrice a day</h7>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Source - John Hopkins Dataset<a href="https://github.com/CSSEGISandData/COVID-19" class="fa fa-github"></a></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container container-fluid">
            <div class="row">
                <div class="col ft-div">Copyright © 2020</div>
            </div>
            <div class="row">
                <div class="col ft-div">Github Repo <a href="https://github.com/saurabhraj042/covidTracker" class="fa fa-github"></a></div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>